<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <style>
        p, a{
                font-family: Inter, Arial;
                color : black;
            }   
        .nav{
            padding-top: 19px;
            text-align: right;
            margin-right: 185px;
        } 
        .btn{
            padding: 6px;
            background-color: none;
            font-size: 18px;
            margin-left: 35px;
            margin-right: 35px;
            font-weight: 500;
            text-decoration:none;
        }
    </style>
</head>
<body>
    <div class="nav">
        <a href="ets_home.html"  class="btn">Home</a>
        <a href="ets_menu.html"  class="btn">Menu</a>
        <a href="ets_prof.html" class="btn">Profile</a>
    </div>
    <div style="font-weight:600;
                padding-left: 76px;
                padding-top: 156px;
                width : 500px;
                display : inline-block;">
        <p class="bottom">Dont't have an account?  <a class="bottom" href="ets_register.html"> Register here</a></p>
        <p class="bottom">Have an account?  <a class="bottom" href="ets_login.html"> Login here</a></p>
    </div>
</body>
</html>